@model AddStaffViewModel
@{
    ViewData["Title"] = "AddStaff";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Personel Adı</label>
    <input  type="text" asp-for="Name" class="form-control"/>
    <br />
    <label>Personel Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Personel Resim</label>
    <input type="text" asp-for="Image" class="form-control" />
    <br />
    <label>Sosyal Medya1</label>
    <input type="text" asp-for="SocialMedia1" class="form-control" />
    <br />
    <label>Sosyal Medya2</label>
    <input type="text" asp-for="SocialMedia2" class="form-control" />
    <br />
    <label>Sosyal Medya3</label>
    <input type="text" asp-for="SocialMedia3" class="form-control" />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

