<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Huzur Dolu Bir Tatil</h6>
                <h1 class="text-white mb-4">Otelimiz Daha Yakından Tanıyın</h1>
                <p class="text-white mb-4">Sizler için Hzırladığımız Otel videmuzu zileyerek Otelimşz Hakkıında Dah fazla Bilgi Sahibi Olabilirsiniz</p>
                <a href="/Booking/Index" class="btn btn-primary py-md-3 px-md-5 me-3">Odalarımız</a>
                <a href="/Booking/Index" class="btn btn-light py-md-3 px-md-5">Rezervasyon Yap</a>
            </div>
        </div>
        <div class="col-md-5" style="margin-left:10px">
            <iframe width="560" height="425" src="https://www.youtube.com/embed/FOCp9rMMcZU?si=jSyoILdMTVZEo2G1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                            allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>