@model HotelProjectWebUI.Models.Role.UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Role Güncelleme Sayfası</h1>

<form method="post">
    <input type="hidden" asp-for="RoleID"/>
    <label>Rol Adı</label>
    <input type="text" asp-for="RoleName" class="form-control" />
    <br />
    <button class="btn btn-primary">Role Ekle</button>
</form>