@model CreateServiceDto
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Hizmet İkonu</label>
    <input  type="text" asp-for="Serviceİcon" class="form-control"/>
    <span asp-validation-for="Serviceİcon" class="text-danger"></span>
    <br />
    <label>Hizmet Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <span asp-validation-for="Description" class="text-danger"></span>
   
    <button class="btn btn-primary">Kaydet</button>
</form>

